@import "../../../shared/globalVariable";

.ControlPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 5px;
  padding: 0 5px;
  margin-bottom: 10px;
  li {
    a {
      padding: 10px 10px;
    }
    border: thin solid $pink;
    border-radius: 4px;
  }
}

@media (min-width: 800px) {
  .ControlPanel {
    display: block;
    justify-content: center;
    margin: 0;
    li {
      height: fit-content;
      width: 150px;
      margin-bottom: 5px;
      a{
        text-align: start;
      }
    }
  }
}

@media (max-width: 400px) {
  .ControlPanel {
    display: block;
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}