@import "../../../../shared/globalVariable";

.RecipePage {
  width: 95vw;
  box-sizing: border-box;
  margin: 0 auto;
  .Buttons {
    text-align: center;
    margin-top: 10px;
  }
  .TagBox {
    * {
      display: block;
    }
    input{
      margin: 0 auto;
    }
  }
}

@media (min-width: 800px) {
  .RecipePage {
    width: 85vw;
  }
}

@media (min-width: 1200px) {
  .RecipePage {
    width: 1170px;
  }
}
