@import "../../../../shared/globalVariable";

.RecipePage {
  width: 95vw;
  box-sizing: border-box;
  margin: 0 auto;
  .Buttons {
    text-align: center;
    margin-top: 10px;
  }
  .TagBox {
    label{
      display: block;
      padding: 5px 0;
      color: $darkPurple;
      font-weight: bold;
    }
    input{
      padding: 5px;
      margin: 0 auto;
      border: thin solid gray;
      &:focus {
        outline: none;
        background-color: #ccc;
      }
    }
  }
}

@media (min-width: 800px) {
  .RecipePage {
    width: 85vw;
  }
}

@media (min-width: 1200px) {
  .RecipePage {
    width: 1170px;
  }
}
