.Logo {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  img {
    height:100%;
  }
}

@media (max-width: 500px) {
  .Logo {
    text-align: center;
    box-sizing: border-box;
    img {
      height:100%;
    }
  }
}
