@import '../../../../shared/globalVariable';

.HamburgerMenu {
  width: 50px;
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.HamburgerMenu div {
  width: 90%;
  height: 3px;
  background-color: $darkPurple;
}

@media (min-width: 500px) {
  .HamburgerMenu {
      display: none;
  }
}